{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação</title>
    <link rel="stylesheet" href="{%static '/autenticar/css/email.css' %}">
    <link rel="stylesheet" href="autenticar/css/email.css">
</head>
<body>
    <!-- <img src="background-senai.png" id="background" alt=""> -->
    <form action="{% url 'esqueci_senha' %}" method="POST"> 
        {% csrf_token %}
        <div id="container">
            <main>
                <section id="senai-info">
                    <img src="{%static '/autenticar/img/senai-logo.png'%}" alt="Senai-TO logo">
                    <h2>SENAI-TO</h2>
                </section>
                <section id="senai-email">
                    <h2>Informe seu e-mail:</h2>
                    {{form_esqueci_senha.email}}
                </section>
                <button type="submit" id="btn-enviar" class="btn-form"> 
                    <span class="button-container">Confirmar e-mail</span>
                </button>
                {% if form_esqueci_senha.errors %}
                <ul>
                    {% for field, errors in form_esqueci_senha.errors.items %}
                    {% for error in errors %}
                    <li class="errors">{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
            </main>
        </div>
    </form>
</body>
</html>