{% extends 'static/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Gráficos</title>
    <link rel="shortcut icon" href="autenticar/img/RocketCoding-Logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="{% static '/autenticar/img/RocketCoding-Logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/autenticar/css/graphs.css' %}">
    {% endblock %}
</head>
<body>
    {%block content %}
    <h1 class="h1-graphs">Gráficos</h1>

    <div class="graphs">
        <span class="graph">
            {{graph_html_categoria | safe}}
        </span>

        <span class="graph">
            {{graph_html_disponibilidade | safe}}
        </span>

        <span class="graph">
        {{graph_html_estado | safe}}
        </span>
    </div>

    {% endblock %}
</body>
</html>