{% extends 'static/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="autenticar/img/RocketCoding-Logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="{% static '/autenticar/img/RocketCoding-Logo.png' %}" type="image/x-icon">
    {% block head %}
    <link rel="stylesheet" href="{% static '/autenticar/css/home.css' %}">
    
    <!-- link p live server -->
    <link rel="stylesheet" href="autenticar/css/home.css">
    {% endblock %}
    
  </head>
  <body>
  {%block content%}
    <div class="header-top">
      <!-- <h1 class="h1-senai-tocantins">SENAI - TOCANTINS</h1> -->
      <div class="container-top">
      <h1 class="h1-emprestimo-livros">Catálogo de Livros</h1>
      <div class="containerSearch">
          <form method="POST" action="{% url 'pesquisa' %}"> {% csrf_token %}
            <input type="text" id="searchInput" name="nome_book" placeholder="Pesquise um livro... &#128270">
            <button type="submit" id="searchBtn">Pesquisar</button>
          </form>
        </div>
        </div>
      

    </div>
    <div class="content">
        {% for book in books %}
        <div class="element-content">
          <a href="{% url 'livroview' book.id %}">
            <div id="imgLivro">
              {% if book.image %}
              <img src="{{book.image}}" class="imgBook">
              {% endif %}
            </div>
          </a>
          <div class="element-content-right">
            <span id='text-name'>{{book.nameBook}}</span>
            <button disabled id="btn-disponivel">
              {% if book.disponivel %}
              <span id='text-name'>Disponível</span>
              {% endif %}
              {% if not book.disponivel %}
              <span id='text-name'>Indisponível</span>
              {% endif %}
            </button>
          </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
    <script src="{% static 'autenticar/js/menu.js' %}"></script>
    <script src="autenticar/js/menu.js"></script>
</body>
</html>
