
{% extends 'static/base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar</title>
    {% block head %}
    <link rel="stylesheet" href="{% static '/autenticar/css/home.css' %}">
    
    <!-- link p live server -->
    <link rel="stylesheet" href="/autenticar/css/home.css">
    {% endblock %}
    
  </head>
  <body>
  {%block content%}
    <!-- criar container para texto (ter margem à esquerda) -->
    <h1 class="h1-mobile-emprestimo-livros">Catálogo de Livros</h1>
    <div class="header-top">
      <!-- <h1 class="h1-senai-tocantins">SENAI - TOCANTINS</h1> -->
      <h1 class="h1-emprestimo-livros">Catálogo de Livros</h1>
        <div class="input-container">
            <!--<input type="text" class="input-search-js" name="input-search" id="input-search" placeholder="Buscar livro"> -->
          </div>
    </div>
    <div class="content">
        {% for book in books %}
        <div class="element-content">
          <a href="{% url 'livroview' book.id %}">
            <div id="imgLivro">
              {% if book.image %}
              <img src="{{book.image}}" class="imgBook">
              {% endif %}
            </div>
          </a>
          <div class="element-content-right">
            <span id='text-name'>{{book.nameBook}}</span>
            <button disabled id="btn-disponivel">
              {% if book.disponivel %}
              <span id='text-name'>Disponível</span>
              {% endif %}
              {% if not book.disponivel %}
              <span id='text-name'>Indisponível</span>
              {% endif %}
            </button>
          </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
</body>
</html>
