@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    transition: all .6s;
}


a{
    text-decoration: none;
    color: var(--text-color-dark);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Bloco pai*/
.login_container {
    position: relative;
    height: 600px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#form-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
}

.form-login {
    transition: 0.6s;
}

.form-registro {
    background-color: white;
    transition: 0.6s;
}

.form-login h2 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color-dark);
}

.form-registro h2 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color-dark);
}

.form-login p {
    font-size: 1rem;
}

.form-registro p {
    font-size: 1rem;
}

/*paleta de cores*/
:root {
    --primary-color: rgba(0, 0, 255, 0.669);
    --secondary-color: white;
    --text-color-dark: black;
    --text-color-light: white;
    --icon-color: #f3f3f3;
}

#icons-social {
    display: flex;
    gap: 24px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: .6s;
    background-color: var(--icon-color);
    cursor: pointer;
}

.social-icon:hover {
    background-color: var(--primary-color);
    transform: translateY(-15%);
    color: var(--text-color-light);
    cursor: pointer;
}

#login-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
/* Estilo para o input com classe strongPassword */
#container-Password, #container-strongPassword {
    position: relative;
  }
  
  /* Estilo para o ícone SVG dentro do campo de senha */
.icon-Password, .icon-strongPassword {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
    top: 30%;
    cursor: pointer;
  }
  
/* mostrar ícone de senha invisível no primeiro instante */
#invisible-password {
    display: block; 
}
#visible-password {
    display: none; /* esconder ícone de senha visível no primeiro instante */
}

/* ícone de visibilidade fica visível com a classe .hide ativada */
#visible-password.hide {
    display: block; 
}

/* ícone de invisibilidade fica invisível com a classe .hide ativada */
#invisible-password.hide {
    display: none;
}

/* gerador de senhas fortes */

/* ícone de copiar senha oculto no primeiro instante */
#icon-copiarSenha {
    display: none; /* manter o display desativado em primeiro instante */
    margin-left: 8px; /* margem criada do ícone de copiar em relação ao ícone de gerar senha (+) */
}
/* container dos ícones  */
.icon-strongPassword {
    display: inline-flex; /* manter os ícones de gerar e copiar senha na mesma linha */
}

.login-button {
    border: 1px solid var(--primary-color);
    width: 140px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    transition: .6s;

}

.errors {
    color: red;
    font-weight: 900;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 14px;
 }

.login-button:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-15%);
}

.register-button {
    border: 1px solid var(--primary-color);
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    transition: .5s;
    outline: none;
}

.register-button:hover {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-15%);
}

/*camada de sobreposição*/
#camada {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    text-align: center;
    transition: 1s;
}

/*transição do overlay*/
.login_container.move #camada{
    transform: translateX(0%);
}

/*estilização bloco transitivo*/
.overlay {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 42px 100px 42px;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgb(37, 37, 220), rgb(76, 192, 255));
    color: var(--text-color-light);
    transition: 1s;
}

.login_container.move .overlay:nth-child(2) {
    z-index: -1;
    opacity: 0;
}

/*h2 do bloco de transição*/
.overlay h2 {
    font-weight: 400;
    font-size: 2.4rem;
}

.animate-button {
    border: 1px solid var(--text-color-light);
    width: 140px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color-light);
    transition: .6s;
}

.animate-button:hover {
    background-color: rgb(35, 172, 252);
    color: white;
    transform: translateY(-15%);
}

.mobile-texts {
    display: none;
}

/*responsividade mobile*/

@media (max-width:768px) {
    #camada {
        display: none;
    }

    .form {
        width: 100%;
        justify-content: space-evenly;
    }

    .login_container {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
        border-radius: 0; /* retirar a borda de 12px para não ficar com as pontas aparecendo na tela */
    }

    .form-registro {
        position: absolute;
        transform: translateX(100%);
    }

    .login_container.move .form-login{
        transform: translateX(100%);
    }

    .login_container.move .form-registro{
        transform: translateX(0%);
    }
    .mobile-texts {
        display: block;
    }
    .mobile-texts a {
        font-weight: 800;
    }

}


/* dark mode */
.menu-bar .mode .sun-moon i {
    position: absolute;
 }
 .mode .sun-moon i.sun {
    opacity: 0;
 }
 body.dark .mode .sun-moon i.sun {
    opacity: 1;
 }
 body.dark .mode .sun-moon i.moon {
    opacity: 0;
 }
 .bi-moon-fill {
  color: dodgerblue;
  filter: drop-shadow(1px 1px 1px black);
 }
 .bi-brightness-high-fill {
  color: rgb(255, 108, 10);
  filter: drop-shadow(1px 1px 1px black);
 }
 .mode-text {
    color: black;
 }
 
 .item-menu {
    list-style: none; /* retirar a bolinha do <li> presente no botão do tema dark */
    z-index: 999; /* sobrepor o botão ao overlay */
 }
#tema-dark {
  position: relative;
  height: 33px;
  width: 66px;
  border-radius: 18px;
  transition: var(--tran-05);
  background-color: transparent;
  border: 2px solid rgb(36, 97, 159);
  outline: none;
 }


 #tema-dark::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  background-color: rgb(88, 171, 255);
  box-shadow: inset 0 0 4px 1px rgb(17, 73, 129);
  border: 1px solid black;
  transition: all 0.4s;
  z-index: 999; /* sobreposição do botão */
 }
 body.dark#tema-dark::before {
    left: 20px; /* mover o círculo do botão */
 }
svg {
    margin: 0 4px; /* margem criada entre os ícones de lua e sol */
}


 /* toda estilização do tema dark, que foi definido no JavaScript pela adição da classe 'dark' aos elementos: */
 body.dark {
    background: #121212;
 }
 
 .dark .form-login, .dark .form-registro {
    background-color: #333;
    color: #fff;
 }
 
 .dark .form-login h2, .dark .form-registro h2 {
    color:rgb(88, 171, 255);
 }
 
 .dark .form-login p, .dark .form-registro p {
    color: white;
 }
.dark .form-input, .dark .form-input::placeholder {
    color: #fff; /* mudar a cor do input e do placeholder do gerador de senha forte, para tornar a visualização mais visível */
} 

.dark .form-input {
    background-color: #333;
    border-bottom: 1px solid #fff;
} 

 .dark .login-button, .dark .register-button, .dark .animate-button {
    color:rgb(88, 171, 255);
    border-color:rgb(88, 171, 255);
 }
 
 .dark .login-button:hover, .dark .register-button:hover, .dark .animate-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: black;
 }

 .dark #tema-dark {
    background-color: #fff;
}

.dark #tema-dark::before {
    border: 1px solid black;
    /* left: 18px; o círculo interno sairá da esquerda para a direita */
    left: 36px;
    /* transition: var(--tran-03);  */
    transition: all 0.4s;
}
.dark #overlay1, .dark #overlay2 {
    background: linear-gradient(270deg,#121212,#575757 );
    /* background: linear-gradient(270deg,rgb(63, 135, 207), #575757 ); */
    /* background: #555; */
    /* background: rgb(64, 95, 126); */
}