#containerBook {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin-left: auto; /* centralizar com o valor do width 90% */
    align-items: center;
}
aside {
    color: black;
    font-size: 1rem;
    padding: 24px;
    width: 50%;
}
.book-info {
   display: flex;
   justify-content: space-between;
}
img {
 width: 273px;
 height: 500px;
}

#containerBtn {
    display: inline-flex; /* manter ambos os botões na mesma linha */
    margin-left: auto;
    width: 300px;
}
#card-book {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-size: 1.4rem;
}
main {
  width: 80%;
  padding: 48px;
  height: 80%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row; /* Change this line */
}
.book-info, aside {
  flex: 1; /* Add this line */
}

#livrotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(25, 132, 239);
    margin-top: 10px;
}

#formfield {
    margin: 0 12px 0 0;
}
@media (max-width: 968px) {
    main {
        overflow-y: auto;
    }
}
@media (max-width: 728px) {
  main {
    margin-left: 36%;
    justify-content: center;
    overflow-x: auto;
    display: flex;
    align-items: center;
     flex-direction: column;
     height: 60vh;
  }
  img {
    display: none;
  }
  #containerBook {
    display: flex;
    flex-direction: column;
  }
  #containerBtn {
    flex-direction: column;
  }
  button {
    margin-top: 12px;
  }
}

/* dark mode - js */
.dark #asideInfo {
  color: #dedede;
}
.dark .form_button {
  border: 1px solid #dedede;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
  color: #dedede;
}