.h1-graphs {
    margin-left: 100px;
    margin-top: 20px;
    color: rgb(25, 132, 239);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}


.graphs {
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.graph {
    color: dodgerblue;
    margin-top: 24px;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    box-shadow:  0 3px 12px #0c83d8c2;
}

.modebar {
    display: none;
}

